<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
  <meta charset="UTF-8">
  <title>KidWrangler Appointment Scheduling</title>
</head>
<body>
<h2 th:text="'Parents'">Index Page</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>

  <tbody>
    <tr th:each="parent: ${parents}">
      <td th:text="${parent?.firstName}"></td>
      <td th:text="${parent?.lastName}"></td>
    </tr>
  </tbody>

</table>

</body>
</html>