<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'parents')}">
<head>
  <meta charset="UTF-8">
  <title>KidWrangler Appointment Scheduling</title>
</head>
<body>
<h2 th:text="'Parents'">Index Page</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Phone Number</th>
    </tr>
  </thead>

  <tbody>
    <tr th:each="parent: ${parents}">
      <td th:text="${parent?.firstName} + ' ' +  ${parent?.lastName}"></td>
      <td th:text="${parent?.address1}"></td>
      <td th:text="${parent?.city}"></td>
      <td th:text="${parent?.state}"></td>
      <td th:text="${parent?.phoneNumber}"></td>

    </tr>
  </tbody>

</table>

</body>
</html>